body {
   
}

.top-left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    position: absolute;
    box-sizing: content-box;
}

buttom {
    width: 8vw;
    height: 4vw;
    border: 1px solid red;
    background-color: rgba(85, 90, 94, 0.897);
    margin: 1px;
    position: relative;
    
}

.top-right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    position: absolute;   
    box-sizing: content-box;
    position: relative;
    grid-column: 3/5;
}

.top {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    position: absolute;   
    box-sizing: content-box;
}

.buttom-right {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    position: absolute;   
    box-sizing: content-box;
    position: relative;
    grid-column: 3/5;
}

.buttom-left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    position: absolute;
    grid-row: 2/ 3;
    box-sizing: content-box;
}